<div class="wrapper" id="home-conteudo">
    <div class="container" id="home-container">
        <div class="jumbotron text-center text-white">
            <h1 class="display-4">ALPHA-BLOG</h1>
            <p class="lead">Esse é um site para você cadastrar seus artigos!</p>
            <hr class="my-4">
            <p>Venha já participar da nossa comunidade!</p>
            <p class="lead">
                <a class="btn btn-success btn-lg" href="#" role="button">Saiba Mais</a>
            </p>
        </div>

    </div>
    
</div>

 <footer class="py-4 bg-dark text-white-50">
        <div class=""container">
            <small>Copyright @ Ian Costa</small>
        </div>
        
    </footer>